:root {
  --primary-color: rgb(34, 139, 118);
  --primary-font: Verdana;
}

body {
  font-family: var(--primary-font);
}

h3 {
  padding: 20px;
}

.input-row {
  display: flex;
  margin-bottom: 10px;
}

.mp-title{
    font-size: 28px;
    margin: 40px 0px 40px 120px;
}

form .mc-button {
  height: 45px;
  width: 200px;
  padding-top: 40px;
  margin: auto;
  display: block;
}

.mc-button button[type="submit"] {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background: var(--primary-color);
}

.mc-button button[type="submit"]:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
