:root {
  --primary-color: rgb(34, 139, 118);
  --primary-font: Verdana;
}

.logo {
  max-width: 200px;
  margin-top: 0;
  margin: 20px;
  margin-left: 80px;
}

.homepage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.header-buttons {
  border-radius: 5px;
  overflow: hidden;
}

.header-buttons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  transition: margin-left 0.3s ease;
}

.header-buttons ul li a {
  color: black;
  border-radius: 5px;
  border-width: 2px;
  margin-right: 10px;
  padding: 5px;
}

.header-buttons ul li:last-child a {
  color: white;
  margin-right: 0;
}

/* .header-buttons ul li:last-child {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
    margin-right: 80px;
  } */

.search {
  display: flex;
  margin-right: 80px;
}

.search-input,
.search-button {
  padding: 10px 15px;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s ease;
  height: 40px;
  box-sizing: border-box; 
  font-size: 20px;
  display: flex;
  font-family: var(--primary-font);
}

.search-button {
  background-color: var(--primary-color);
  align-items: center;
  color: white;
  cursor: pointer;
}

.search-input {
  border: 1px solid black;
  border-width: 2px;
}

.search-input:focus {
  border-color: var(--primary-color);
  border-width: 4px;
}

.header-buttons ul li a {
  text-decoration: none;
  font-weight: 100;
  font-family: var(--primary-font);
  font-size: 20px;
  transition: font-weight 0s ease;
}

.homepage-header nav ul li a:hover {
  font-weight: bold;
}